<div class="col-lg-12">
    <h1 class="page-header">IDPs</h1>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Mapped Claims for IDP: <b>{{model.name}}</b>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-3">                         
                            <div [hidden]="errorMsg == null || errorMsg == ''" class="alert alert-danger">
                                      {{errorMsg}}
                            </div>
                            <table class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Claim type</th>                                        
                                        <th>Description</th>                                        
                                        <th>Operations</th>                                        
                                    </tr> 
                                </thead>
                                <tbody>

                                    <tr *ngFor="#entry of model.applications">                
                                        <td>{{entry.serviceDisplayName}}</td>
                                        <td>{{entry.serviceDescription}}</td>                                        
                                        <td>                                            
                                            <button class="btn btn-danger btn-" type="button" (click)="onUnmap(entry, model)"><i class="fa fa-trash-o"></i> Delete</button>
                                        </td>
                                    </tr>            
                                </tbody>
                            </table>                         
                    </div>                  
                </div>
                            
                <!-- /.row (nested) -->
            </div>
            <!-- /.panel-body -->
            
        </div>
          <div class="panel panel-default">
            <div class="panel-heading">
                Map new application to IDP: <b>{{model.name}}</b>
            </div>
            <div class="panel-body">
            
                <div class="row">
                    <div class="col-lg-3">                         
                        <div class="form-group">
                            <label>Choose application to be mapped</label>
                            <select class="form-control" [(ngModel)]="chosenApplication">
                                <option *ngFor="#entry of applications" [value]="entry.realm">{{entry.serviceDisplayName}}</option>                               
                            </select>
                        </div>                         
                        <p>
                            <button type="button" class="btn btn-primary" (click)="onMapNewApplication()">Map new application to this IDP</button>
                        </p>                    
                    </div>
                </div>                
                <!-- /.row (nested) -->
            </div>
            <!-- /.panel-body -->
            
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>